@tailwind base;
@tailwind components;
@tailwind utilities;

.customAnimation {
  animation: customAnimationKeyframes 200ms ease-in-out;
}
@-webkit-keyframes customAnimationKeyframes {
  0% {
    transform: scale(0.1);
  }
  100% {
    transform: scale(2);
  }
}

.drop-down-animation {
  --xyz-translate-y: -100%;
  --xyz-duration: 250ms;
}

@layer base {
  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}
